body {
	background-color: #F1EAE1;
	background-image: url(background.jpg);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	margin-left: 7%;
	margin-right: 7%;
	color: #60431C;
}

 h1{
 	background-color: #F1EAE1;
	text-align: center;
	border-width: 5px;
	border-bottom: #60431C;
	border-top: #60431C;
	border-left: #60431C;
	border-right: #60431C;
	border-style: solid;
}

h3 {
	font-size: 24px;
	background-color: #F1EAE1;
	padding-left: 10px;
}

h4, p{
	line-height: 2px;
	font-size: 18px;
	padding-left:10px;
}

#bio {
	line-height: 20px;
	background-color: #F1EAE1;
	text-align: left;
	border-width: 5px;
	border-bottom: #60431C;
	border-top: #60431C;
	border-left: #60431C;
	border-right: #60431C;
	border-style: solid;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
}

#nav {
	background-color: #F1EAE1;
	text-align: center;
	border-width: 5px;
	border-bottom: #60431C;
	border-top: #60431C;
	border-left: #60431C;
	border-right: #60431C;
	border-style: solid;
	list-style-type: square;
	float: right;
	text-align: left;
	width: 400px;
	height: 215px;
}

a:link, a:visited{
	color: #60431C;
}

a:active, a:hover{
	color: #555501;
}

#pic {
	background-color: #F1EAE1;
	text-align: center;
	border-width: 5px;
	border-bottom: #60431C;
	border-top: #60431C;
	border-left: #60431C;
	border-right: #60431C;
	border-style: solid;
	float: left;
	width: 400px;
	height: 215px;
}

#back {
	background-color: #F1EAE1;
	text-align: center;
	border-width: 5px;
	border-bottom: #60431C;
	border-top: #60431C;
	border-left: #60431C;
	border-right: #60431C;
	border-style: solid;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 42%;
	margin-right: 42%;
}

#resume {
	background-color: #F1EAE1;
	border-width: 5px;
	border-bottom: #60431C;
	border-top: #60431C;
	border-left: #60431C;
	border-right: #60431C;
	border-style: solid;
}