body {
	background-color: #F1EAE1;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	font-size: 18px;
	margin-left: 5%;
	margin-right: 5%;
}

 h1{
	text-align: center;
	border-width: 5px;
	border-bottom: black;
	border-top: black;
	border-left: black;
	border-right: black;
	border-style: solid;
}

h3 {
	font-size: 24px;

}

h4, p{
	line-height: 2px;
	font-size: 18px;
}

.bio {
	line-height: 20px;
}