body {
	background-color: #F1EAE1;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	font-size: large;
}

 h1{
	text-align: center;
	border-width: 5px;
	border-bottom: black;
	border-top: black;
	border-left: black;
	border-right: black;
	border-style: solid;
}